footer {
    display: flex;
    text-align: center;
    flex-direction: column;

    gap: 6px;
    margin-top: 1rem;

    color: var(--lightText);
}

.footer-copyright {
    text-align: center;
    
    font-size: .95rem;

    color: var(--secondaryText);
}

.footer-links {
    display: flex;
    justify-content: center;
    
    gap: .5rem;
}

.footer-links a {
    font-size: .9rem;
    color: var(--lightText);
}

.footer-links a:hover {
    text-decoration: underline currentColor;
}