.profile {
    position: sticky;
    position: -webkit-sticky;
    top: calc(75px + 1rem);
    
    width: 25%;
    height: 0%;
    border-radius: 5px;
    padding-bottom: 1rem;

    text-align: center;
    border: 1px solid #ccc;
    background-color: var(--blockBackground);
}

.profile .profile-banner {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0 0;
    background-color: var(--primaryColor);
}

.profile .profile-banner img {
    position: absolute;

    width: 65px;
    height: 65px;
    border-radius: 50%;

    bottom: -32.5px;
    left: 50%;
    transform: translateX(-50%);

    border: 4px solid var(--primaryColor);
}

.profile .text-wrapper {
    color: var(--secondaryText);
    margin-top: 42.5px;
}

.profile .text-wrapper .profile-username {
    font-size: 1.05rem;
    cursor: pointer;
}

.profile .text-wrapper .profile-username:hover {
    text-decoration: underline currentColor;
}

.profile .text-wrapper p {
    font-size: 1rem;
    color: var(--lightText);
}